environment: production

backend:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

frontend:
  replicaCount: 2
  resources:
    requests:
      cpu: 150m
      memory: 192Mi
    limits:
      cpu: 750m
      memory: 384Mi

postgres:
  persistence:
    enabled: false
    size: 50Gi
  resources:
    requests:
      cpu: 300m
      memory: 768Mi
    limits:
      cpu: 2000m
      memory: 2Gi
